@import '../../styles/base';

.style-button { 
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: transparent;
  height: 50px;
  border-radius: 15px;
  border: none;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  @include tablet {
    width: 100px;
    border-radius: 5px;
  }
}