@import '../../../styles/base';

.website {
    width: 66.68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__color {
      position: relative;
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
    &__toggle-button {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.3;
      width: 100%;
      height: 100%;
      &:hover {
          opacity: 1;
      }
    }
    &__toggle-button button {
      background-color: transparent;
    }
    &__toggle-code {
      position: relative;
      display: flex;
      //align-self: flex-end;
      width: 95%;
      justify-content: space-between;
        @include tablet {
          width: 50%;
        }
      & .color-code__value {
        font-weight: 500;
        text-align: start;
        width: 75px;
        @include tablet {
          width: 128px;
          font-size: 18px;
        }
        @include laptop{
          width: 128px;
          font-size: 18px;
        }
      }
    }
    &__toggle-lightness {
      //position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0px 8px;
      //opacity: 0%;
      //&:hover {
      //    opacity: 100%;
      //}
    }
    &__toggle-lightness button {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: transparent;
      width: 20px;
      height: 20px;
        @include tablet {
          top: 32px;
          right: 110px;
        }
    }
}
.color_top-right {
    border-radius: 0px 25px 0px 0px;

}
.color_bottom-right {
    border-radius: 0px 0px 25px 0px;

}