@import '../../styles/base';

.about {
  width: 100%;
  position: relative;

  &__text-container {
    position: absolute;
    bottom: 30%;
    width: 100%;
    max-width: 700px;
    @include global-padding;
    @include tablet {
      bottom: 40%;
    }
  }
  &__text {
    text-align: center;
    color: black;
  }
  &__text a {
    text-decoration: none;
    color: black;
  }
}