@import '../../styles/base';

.about {
  width: 100%;
  position: relative;

  &__text-container {
    position: absolute;
    bottom: 30%;
    width: 100%;
    @include global-padding;
  }
  &__text {
    text-align: center;
    color: black;
  }
  &__text a {
    text-decoration: none;
  }
}