@import '../../styles/base';

.button {
    &__main-button {
        width: 85%;
        height: 100%;
        border-radius: 10px;
        margin: 7px;
        font-size: 16px;
        font-weight: 500;
        padding: 6px;
        &:hover {
            cursor: pointer;
        }
        @include tablet {
            width: 120px;
            height: 50px;  
            font-size: 20px;
            
        }
    }
}