@import '../../styles/base';

.input {
  height: 40%;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    height: 150px;
  }
  &__percent {
    transform: rotate(270deg);
  }
  &__opacity {
    color: white;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }
}