@import '../../styles/base';

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw; 
  z-index: 1;
  background-color: $light-grey;
  animation: fadein 2s;
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}
.new-palette {
  &__container {    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button {
    height: 70px;
    width: 250px;
    border-radius: 20px;
    color: $green;
    background-color: $yellow;
    border: 2px solid black;
    font-size: 17px;
    margin-bottom: 16px;
    box-shadow: 3px 3px 5px 6px #ccc;
    &:hover {
      cursor: pointer;
    }
    @include tablet {
      border: 3px solid black;
      height: 100px;
      width: 500px;
      font-size: 30px;
    }
  }
}