@import '../../../styles/base';

.studio-components {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 16px;
        @include tablet {
            padding: 50px 100px;
        }
        &__button-preview {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        &__icons-preview {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        &__buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 50%;
            padding: 16px;
        }
        &__icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 50%;
            padding: 16px;
        }
        &__buttons-section {
            border-radius: 25px;
            display: flex;
            align-items: center;
            height: 50vh;
            margin-bottom: 55px;
            box-shadow: 3px 3px 5px 6px #ccc;
            border-radius: 25px; 
                @include tablet {
                    width: 50vw; 
                }
        }
        &__icons-section {
            border-radius: 25px;
            display: flex;
            align-items: center;
            height: 50vh;
            margin-bottom: 55px;
            box-shadow: 3px 3px 5px 6px #ccc;
            border-radius: 25px;   
                @include tablet {
                    width: 50vw; 
                } 
        }
        &__images-section {
            border-radius: 25px;
            display: flex;
            margin-bottom: 55px;
            box-shadow: 3px 3px 5px 6px #ccc;
            border-radius: 25px;
        }
        &__images-preview {
            display: flex;
            flex-direction: column;
            justify-content: space-around;    
            max-width: 1200px;
        }
        &__images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 16px;
            width: 100%;
            border-radius: 0px 25px 25px 25px;
        }
        &__images-buttons {
            //height: 100%;
            height: 430px;
        }
}
.buttons-top {
    border-radius: 0px 25px 0px 0px;
}
.buttons-bottom {
    border-radius: 0px 0px 25px 0px    
}
.icons-top {
    border-radius: 0px 25px 0px 0px;
}
.icons-bottom {
    border-radius: 0px 0px 25px 0px      
}

.image_bottom-margin {
    margin: 55px 0px;
}