.studio-components {
    &__button-preview {
        display: flex;
        width: 100vw;
    }
    &__buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    &__images-preview {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
    &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
}