@import '../../../styles/base';

.studio-components {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px 16px;
        @include tablet {
            padding: 100px 100px;
        }
        &__button-preview {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        &__icons-preview {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        &__buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 50%;
            padding: 16px;
        }
        &__icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 50%;
            padding: 16px;
        }
        &__buttons-section {
            border-radius: 25px;
            display: flex;
            align-items: center;
            height: 50vh;
            margin-bottom: 100px;
            box-shadow: 3px 3px 5px 6px #ccc;
            border-radius: 25px; 
        }
        &__icons-section {
            border-radius: 25px;
            display: flex;
            align-items: center;
            height: 50vh;
            margin-bottom: 100px;
            box-shadow: 3px 3px 5px 6px #ccc;
            border-radius: 25px;   
        }
        &__images-section {
            border-radius: 25px;
            margin-bottom: 55px;
            box-shadow: 3px 3px 5px 6px #ccc;
            border-radius: 25px;
                @include tablet {
                    display: flex;
                }     
        }
        &__images-preview {
            display: flex;
            justify-content: space-around;    
            max-width: 1200px;
                @include tablet {
                    flex-direction: column;
                }
        }
        &__images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 16px;
            width: 50%;
                @include tablet {
                    width: 100%;
                    border-radius: 0px 25px 25px 25px;
                }
        }
        &__images-buttons {
                @include tablet {
                    height: 430px;
                }
        }
}
.buttons-top {
    border-radius: 0px 25px 0px 0px;
}
.buttons-bottom {
    border-radius: 0px 0px 25px 0px    
}
.icons-top {
    border-radius: 0px 25px 0px 0px;
}
.icons-bottom {
    border-radius: 0px 0px 25px 0px      
}

.image_top {
    border-radius: 0px 0px 25px 25px;
        @include tablet {
            border-radius: none;   
        }
}
.image_bottom {
    border-radius: 0px 0px 25px 25px;
        @include tablet {
            margin: 55px 0px;   
            border-radius: none;   
        }
}