.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #fcd729;
    &__upload-image {
        display: flex;
        align-items: center;
        //position: relative;
        //top: 15%;
        padding-left: 100px;  
    }
    &__upload-pineapple {
        width: 21%;
        height: 100%;
        position: relative;
        //bottom: 110px;
        margin-left: 390px;
        
    }
    &__svg-container {
        display: inline-block;
        position: relative;
        width: 100%;
        vertical-align: middle;
        overflow: hidden;
        transform: rotate(180deg);
    }
    &__upload-reminder{
        background-color: rgb(250, 250, 250);
        color: #fcd729;
        font-size: 40px;
        text-align: center;
        margin: 0;
    }
}
.svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}