@import '../../styles/base';

.hero {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $yellow;
  @include laptop { 
    height: 100vh;
  }
  &__upload-image {
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;  
    height: 275px;
    @include laptop {
      height: 100%;
      display: flex;
      padding: 0px 100px; 
    }
  }
  &__upload-pineapple {
    width: 100%;
    height: 100%;
    position: relative;
    @include tablet {
      height: 200%; 
    }
    @include laptop {
      margin-right: 15%;
      width: 25%; 
      height: 100%; 
    }
  }
  &__svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    transform: rotate(180deg);
  }
  &__upload-reminder{
    background-color: rgb(250, 250, 250);
    color: $yellow;
    font-size: 26px;
    text-align: center;
    margin: -1px 0px;
    padding: 0px 16px;
    padding-bottom: 16px;
    @include tablet {
        padding-bottom: 0px;
    }
    @include laptop {
        font-size: 40px;
    }
  }
}
.svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}