.paletteView {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    &__color {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-grow: 1;
        box-shadow: 0 10px 3px black inset;
        font-size: 30px;
        font-weight: 500;    
    }
    &__svg-container {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        overflow: hidden;
    }
}
.svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.top {
    transform: rotate(180deg);
}
.bottom {
    //transform: rotate(180deg);
}