@import '../../styles/base';

.paletteView {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    width: 100vw;
        @include tablet {
            height: 100vh;
            width: 100vw;
        }
    &__color {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-grow: 1;
        box-shadow: 0 10px 3px black inset;
        font-size: 7px;
        font-weight: 500;    
        @include tablet {
            font-size: 22px;
        }
    }
    &__svg-container {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 41vh;
        vertical-align: middle;
        overflow: hidden;
            @include tablet {
                height: 101vh;
            }
    }
}
.svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.top {
    transform: rotate(180deg);
}
.bottom {
    //transform: rotate(180deg);
}