@import "./variables";

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $laptop-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin global-padding {
padding:0px 16px;
  @include tablet {
      padding: 0px 24px;  
  };
  @include laptop {
      padding: 0px 100px;
  };
}
