.website {
    width: 66.66%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__color {
        display: flex;
        flex-grow: 1;
    }
    &__toggle-button {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
        width: 100%;
        height: 100%;
        &:hover {
            opacity: 100%;
        }
    }
    &__toggle-button button {
        background-color: transparent;
    }
    &__toggle-lightness {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        //opacity: 0%;
        //&:hover {
        //    opacity: 100%;
        //}
    }
    &__toggle-lightness button {
        background-color: transparent;
        width: 20px;
        height: 20px;
    }
}