@import '../../../styles/base';

.studio {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 550px;
    margin-top: 100px;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 25px;
    @include tablet {
        width: 700px;
        height: 700px;
    }
}