.header {
    background-color: #53E0B3;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__page-links {
        width: 300px;
        justify-content: space-between;
    }
}

.isActive {
    color: #2196f3;
}

.links {
    text-decoration: none;
    color: #fcd729;
    margin-left: 100px;
    //:hover {
    //  //color:#2196f3;
    //  color: #00e676;
    //}
}