@import '../../styles/base';

.color-code {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  &:hover {
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      left: -30px;
      top: -10px;
      height: calc(100% + 20px);
      width: calc(100% + 60px);
      z-index: -1;
      cursor: default;
    }
  }
  &__value {
    text-align: center;  
    font-size: 11px;
    letter-spacing: normal;
    padding: 0px 2px;
    transition: letter-spacing 0.3s ease-in-out;
     &:hover {
       letter-spacing: 1.25px;
     }
    @include tablet {
      padding: 0px;
      font-size: 15px;
      text-align: start;
    }
    @include laptop {
      font-size: 25px;
    }
  }
}

.white {
  color: white;
}

.display-none {
  display: none;
  @include tablet {
    display: block;
  }
}

.contrast {
  cursor: default;
}