@import '../../styles/base';

.color-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__value {
    text-align: center;  
    font-size: 11px;
    //width: 50%;
    //padding: 8px 0px;
      @include tablet {
        font-size: 15px;
        text-align: start;
      }
      @include laptop {
        font-size: 25px;
      }
    }
}

.white {
  color: white;
}

.display-none {
  display: none;
  @include tablet {
    display: block;
  }
}