@import '../../styles/base';

.color-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__value {
  font-size: 11px;
  //width: 50%;
  //padding: 8px 0px;
    @include tablet {
      font-size: 18px;
    }
  }
}
.display-none {
  display: none;
  @include tablet {
    display: block;
  }
}