@import '../../styles/base';

.footer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #fcd729;
    display: none;
    @include laptop {
        display: flex;
    }
    &__svg-container {
        margin-top: -1px;
        display: inline-block;
        position: relative;
        width: 100%;
        vertical-align: middle;
        overflow: hidden;
        //transform: rotate(180deg);
    }
}
.svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}