@import '../../styles/base';

.upload-wrapper {
    //display: flex;
    //flex-direction: column;
    position: relative;
        @include laptop {
            top: 30%;
            height: 100%;
        }
    &__input-box {
        width: 100% !important;
        @include laptop {
            width: 55% !important;
        }
    }
    &__status-type {
        padding: 8px 0px;
    }
    &__file-name {
        margin-left: 30px;
    }
}