@import '../../styles/base';

.upload-wrapper {
  position: relative;
  width: 100%;
  @include laptop {
    top: 30%;
    height: 100%;
  }
  &__input-box {  
    width: 100% !important;
    cursor: pointer;
    @include tablet {
      width: 100% !important;
      justify-content: center;
      height: 120px;
    }
    @include laptop {
      justify-content: none;
      height: none;
    }
  }
  &__status-type {
    padding: 8px 0px;
  }
  &__file-name {
    margin-left: 30px;
  }
  &__file-name li {
    list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}