@import '../../styles/base';

.upload-wrapper {
  position: relative;
  @include laptop {
    top: 30%;
    height: 100%;
  }
  &__input-box {  
    width: 100% !important;
    cursor: pointer;
    @include tablet {
      justify-content: center;
      height: 120px;
    }
    @include laptop {
      justify-content: none;
      width: 55% !important;
      height: none;
    }
  }
  &__status-type {
    padding: 8px 0px;
  }
  &__file-name {
    margin-left: 30px;
  }
}