@import '../../styles/base';

.icon {
  margin: 5px;
  @include tablet {
    margin: 21px;  
  }
  &__svg {   
    border-radius: 100%;
    width: 32px;
    @include tablet {
      width: 50px !important;
    }
  }
}