@import '../../styles/base';

.icon {
    margin: 8px;
        @include tablet {
            margin: 21px;  
        }
    &__svg {
        width: 38px;
            @include tablet {
                width: 50px;
            }
    }
}